
#ui{
  max-width: 150px;
  max-height: 600px;
  position: absolute;
  top: 70px;
  left: 0px;

  overflow: auto;

}
#addFunction{
  height: 30px;
  width:150px;
}
#delete{
  height:  30px;
  width: 150px;
}
.canvas{
  margin-left: 151px;
}
.params{
  width: 150px;
  height: 30px;
}
#ui::-webkit-scrollbar { width: 0; }